<footer class="site-footer">
  <div class="site-footer__inner">
    <span>{{ site.data.translations[page.lang].footer.copyright }}</span>
    <div class="site-footer__links">
      <a href="{{ site.social.linkedin }}" target="_blank" rel="noopener">LinkedIn</a>
      <a href="{{ site.social.telegram }}" target="_blank" rel="noopener">Telegram</a>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      <a class="site-footer__cat" href="/{{ page.lang }}/cat/">{{ site.data.translations[page.lang].footer.cat }}</a>
    </div>
  </div>
  <div class="site-footer__bottom">
    {% include lang-switcher.html %}
  </div>
</footer>
