<!doctype html>
<html lang="{{ page.lang | default: site.default_lang }}">
{% include head.html %}
<body>
<div class="site-bg" aria-hidden="true">
  <img class="site-bg__img site-bg__img--desktop" src="/assets/img/bg-desktop.svg" alt="">
  <img class="site-bg__img site-bg__img--mobile" src="/assets/img/bg-mobile.svg" alt="">
</div>
<a class="skip-link" href="#main">{{ site.data.translations[page.lang].skip_link }}</a>
{% include header.html %}
<main id="main">
{{ content }}
</main>
{% include footer.html %}
<script src="/assets/js/main.js"></script>
</body>
</html>
